@model List<VendaModel>

<h1>Listagem de Vendas</h1>
<br />
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Vendas" asp-action="Criar">Adicionar nova venda</a>
    </div>
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>

    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>

    }
    <br />

    <table class="table" id="table1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor Unitário</th>
            <th>Data da Venda</th>
            <th>Valor Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venda in Model)
        {
            <tr>
                <td>@venda.IdVenda</td>
                <td>@venda.Cliente.Nome</td>
                <td>@venda.Produto.Descricao</td>
                <td>@venda.QtdVenda</td>
                <td>@venda.VlrUnitarioVenda</td>
                <td>@venda.DthVenda</td>
                <td>@venda.VlrTotalVenda</td>
                <td>
                        <a role="button" class="btn btn-primary" asp-route-id="@venda.IdVenda" asp-controller="Vendas" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-route-id="@venda.IdVenda" asp-controller="Vendas" asp-action="ApagarConfirmacao">Apagar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
